.vscode
*.pyc
api_app/resources
api_app/__pycache__
api_app/migrations
test_bookstore_app/migrations
test_bookstore_app/__pycache__
db.sqlite3
media/
api_app/utils/__pycache__
test_bookstore/__pycache__
