<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}">
<html>
    <head>
    </head>

    <div class="title_bar">
        <h1>Test Bookstore</h1>
    </div>

    {% if book_list %}
        <ul>
        <table>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>ISBN</th>
                <th>Availability</th>
            </tr>
        {% for book in book_list %}
        <tr>    
            <td><a href="/library/{{ book.isbn }}/">{{ book.title }}</a></td>
            <td>{{book.isbn}}</td>
        </tr>
        {% endfor %}
        </table>
        </ul>
    {% else %}
        <p>No books are available.</p>
    {% endif %}

<html>