<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet"><html>
    <head>
    </head>

    <div class="title_bar">
        <h1>Test Bookstore</h1>
    </div>
    <br>

    {% if book_list %}
    <div class="book_filters">
        <table>
            <tr class="headers">
                <th><a href="?sort=title"> Title </a></th>
                <th><a href="?sort=authors__name"> Authors </a></th>
                <th> ISBN </th>
                <th class="avail"><a href="?sort=-availability"> Availability </a></th>
            </tr>
            {% for book in book_list %}
                <tr>    
                    <td><a href="/library/{{ book.isbn }}/">{{ book.title }}</a></td>
                    <td>{{book.authors.name}}</td>
                    <td>{{book.isbn}}</td>
                    <td class="avail">{{book.availability}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No books are available.</p>
    {% endif %}

</html>