body {
    background-color: #FFFFFF;
}

.title_bar {
    overflow: hidden;
    background-color: #1B255A;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.title_bar h1{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    padding-bottom: 5px;
    padding-top: 12px;
    font-weight: bold;
}

hr {
    border-bottom-color: black;
    height: 5px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.details-block {
    width: 80%;
    padding-top: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
}

span .more-text {
    display: none;
}

.padding {
    padding-top: 20px;
}

.labels {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #929292;
    padding-right: 10px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 35px;
    color: #1c2559;
}

.details {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #1c2559;
    text-align: left;
}

div .box{
    background-color: #f7f6f6;
    width: 120px;
    height: 120px;
    outline: 15px #929292;
    padding: 25px;
    margin: 10px;
    border-style: solid;
    border-color: #929292;
    margin-top: 40px;
    margin-left: 30px;
    padding-bottom: 10px;
  }

.box .details {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.price {
    font-weight: bold;
    padding-top: 0px;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    padding-left: 10px;
}

.position-parent {
    position: relative;
    padding-top: 30px;
}

.show-more {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    outline: none;
}

a:hover {
    color: #ef320a;
}

button:hover {
    color: #ef320a;
    cursor: pointer;
}

.check {
    color: #92d36e;
    font-size: 27px;
    vertical-align: text-bottom;
}

.x-mark {
    color: #ff3823;
    font-size: 27px;
    vertical-align: text-bottom;
}

.arrow {
    font-size: 24px;
}

.description {
    width: 100%;
    display: block;
    margin-right: 100px;
}

.filterArrow{
    color: #1B255A;
    margin-left: 5px;
    font-size: 15px;
    position: relative;
    top: 2px;
}