<!DOCTYPE html>
<html> 
    <head>
        {% block title %}<title>Test Bookstore</title>{% endblock %}
    </head>

<body>
    {% block content %}
    <h2>Test Bookstore</h2>
    <p> <strong>Book Name: </strong> {{ title }}</p>
    <p> <strong>Author: </strong> {{ author }}</p>
    <p> <strong>Price:</strong> {{ price }}</p>
    <p> <strong>Release Date: </strong>{{ release_date}}</p>
    <p> <strong> ISBN:</strong> {{ isbn }}</p>
    <p> <strong>Availability:</strong> {{ availability }}</p>
    <p> <strong>Description:</strong> {{ description }}</p>
    <p> <strong>Series:</strong> {{ series }}</p>
    <p> <strong>Volume Number:</strong> {{ volume_number }}</p>
    <p> <strong>Book ID:</strong> {{ book_id }}</p>
    {% endblock %}
</body>

</html>