<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/library.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Condensed&display=swap" rel="stylesheet"><html>
        <script src="https://kit.fontawesome.com/92ed4f50f3.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% block content %}
        <div class="title_bar">
            <h1>Test Bookstore</h1>
        </div>
        <br>

        <div class="search_bar">
            <form action="?q={{desc}}" method="post">
                {% csrf_token %}
                <input name ="q" type="text" placeholder="Enter a title, author, or ISBN here..">
                <button type="submit"><i class="fas fa-search magGlass"></i>SEARCH</button>
            </form>
        </div>

        {% if book_list %}


            <div class="book_filters">
                <table>
                    <tr class="headers">
                        {% if desc == "-" %}
                            <th><a href="?page={{page}}&q={{q}}&sort=title">Title<i class="fas fa-angle-down filterArrow"></i></a></th>
                            <th><a href="?page={{page}}&q={{q}}&sort=authors">Authors<i class="fas fa-angle-down filterArrow"></i></a></th>
                            <th>ISBN</th>
                            <th class="avail"><a href="?page={{page}}&q={{q}}&sort=availability">Availability<i class="fas fa-angle-down filterArrow"></i></a></th>
                        {% else %}
                            <th><a href="?page={{page}}&q={{q}}&sort=-title">Title<i class="fas fa-angle-down filterArrow"></i></a></th>
                            <th><a href="?page={{page}}&q={{q}}&sort=-authors">Authors<i class="fas fa-angle-down filterArrow"></i></a></th>
                            <th>ISBN</th>
                            <th class="avail"><a href="?page={{page}}&q={{q}}&sort=-availability">Availability<i class="fas fa-angle-down filterArrow"></i></a></th>
                        {% endif %}
                    </tr>
                    {% for book in book_list %}
                        <tr>    
                            <td><a href="/library/{{ book.isbn }}/" class="book_title">{{ book.title }}</a></td>
                            <td>{{book.authors}}</td>
                            <td>{{book.isbn}}</td>
                            <td class="avail">
                                {% if book.availability %}
                                    <i class="fas fa-check-circle check"></i>
                                {% else %}
                                    <i class="fa fa-times-circle xmark"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="pages">
                    {% if book_list.has_previous %}
                        <a href="?page=1" class="prev">First</a>
                        <a href="?page={{ book_list.previous_page_number}}" class="prev">Prev</a>
                    {% endif %}
                    
                    {% for num in book_list.paginator.page_range %}
                        {% if book_list.number == num %}
                            <span class="cur_page">{{num}}</span>
                        {% elif num > book_list.number|add:'-2' and num < book_list.number|add:'2' %}
                            <span class="page_num">{{num}}</span>
                        {% endif %}
        
                    {% endfor %}

                    {% if book_list.has_next %}
                        <a href="?page={{ book_list.next_page_number }}" class="next">Next</a>
                        <a href="?page={{ book_list.paginator.num_pages }}" class="next">Last</a>

                    {% endif %}
                </div>

            </div>
        {% else %}
            <p>No books are available.</p>
        {% endif %}
    {% endblock %}
    </body>

</html>