<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/library.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet"><html>
        <script src="https://kit.fontawesome.com/92ed4f50f3.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="title_bar">
            <h1>Test Bookstore</h1>
        </div>
        <br>

        <div class="search_bar">
            <input type="text" placeholder="Enter a title, author, or ISBN here.." name="search">
            <button type="submit"><i class="fas fa-search magGlass"></i>SEARCH</button>
        </div>

        {% if book_list %}
        <div class="book_filters">
            <table>
                <tr class="headers">
                    <th>Title<i class="fas fa-angle-down filterArrow"></i></th>
                    <th>Authors<i class="fas fa-angle-down filterArrow"></i></th>
                    <th>ISBN</th>
                    <th class="avail">Availability<i class="fas fa-angle-down filterArrow"></i></th>
                </tr>
                {% for book in book_list %}
                    <tr>    
                        <td><a href="/library/{{ book.isbn }}/">{{ book.title }}</a></td>
                        <td>{{book.authors.name}}</td>
                        <td>{{book.isbn}}</td>
                        <td class="avail">
                            {% if book.availability %}
                                <i class="fas fa-check-circle check"></i>
                            {% else %}
                                <i class="fa fa-times-circle xmark"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
            <p>No books are available.</p>
        {% endif %}
    </body>

</html>